!Urxvt.font: pango:DejaVu Sans Mono 14
URxvt*font: xft:Inconsolata:size=11
!URxvt.font: 9x15

URxvt.urgentOnBell: true
URxvt.perl-ext-common:  default,matcher,tabbed
URxvt.urlLauncher:      google-chrome-stable
Rxvt.matcher.button:   1

URxvt.background: black
URxvt.foreground: #c8bdbd
URxvt.color0:           #3f3f3f
URxvt.color1:           #705050
URxvt.color2:           #00b45a
URxvt.color3:           #dfcf8f
URxvt.color4:           #506070
URxvt.color5:           #dc8cc3
URxvt.color6:           #8cd0d3
URxvt.color7:           #dcdccc
URxvt.color8:           #709080
URxvt.color9:           #cc5454
URxvt.color10:          #4d9f4d
URxvt.color11:          #f0dfaf
URxvt.color12:          #4186be
URxvt.color13:          #ec93d3
URxvt.color14:          #93e0e3
!URxvt.color15:          #ffffff

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt*scrollBar_right: true

XTerm*renderFont: true
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 10

UXTerm*renderFont: true
UXTerm*faceName: DejaVu Sans Mono
UXTerm*faceSize: 13